@page "{id}"
@model FundRaiser.Pages.Creators.Edit
<body class="bg-dark">
    <div class="border container bg-secondary text-white" style="padding:30px;" xmlns="http://www.w3.org/1999/html">
   
        <form method="post">
            <input type="hidden" asp-for="Creator.Id"/>
            <div asp-validation-summary="All" class="text-danger"></div>
            
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Creator.IdentityId"></label>
                    <span asp-validation-for="Creator.IdentityId" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <input asp-for="Creator.IdentityId" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Creator.Email"></label>
                    <span asp-validation-for="Creator.Email" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <input asp-for="Creator.Email" class="form-control" type="email" maxlength="30"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Creator.Profession"></label>
                    <span asp-validation-for="Creator.Profession" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <input asp-for="Creator.Profession" class="form-control"  />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Creator.FirstName"></label>
                    <span asp-validation-for="Creator.FirstName" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <input asp-for="Creator.FirstName" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4" type>
                    <label asp-for="Creator.LastName"></label>
                    <span asp-validation-for="Creator.LastName" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <input asp-for="Creator!.LastName" class="form-control" id="exampleFormControlTextarea1"></input>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 tight-gutter"><input style="margin-top:10%; float: left;" type="submit" value="Update" class="btn btn-primary form-control"/></div>
                <div class="col-sm-4 tight-gutter"><a asp-page="/Creators/Dashboard" style="float:right;margin-top:10%;" asp-route-id="@Model.Id" 
                                                                  class="btn btn-success form-control">Back to Dashboard</a></div>
                <div class="col-sm-4 tight-gutter"><input asp-page-handler="Delete" style="margin-top:10%" type="submit" value="Delete Creator" class="btn btn-danger form-control"/></div>
            </div>
        </form>
    </div>
</body>